aiohttp==3.6.2
async-timeout==3.0.1
attrs==20.2.0
certifi==2020.4.5.1
cffi==1.14.2
chardet==3.0.4
cryptography==3.1
cycler==0.10.0
decorator==4.4.2
future==0.18.2
idna==2.10
imageio==2.8.0
joblib==0.15.1
kiwisolver==1.2.0
matplotlib==3.2.1
multidict==4.7.6
numpy==1.18.5
pandas==1.0.4
pdf2image==1.13.1
Pillow==7.1.2
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
torch==1.5.0
torchsummary==1.5.1
tornado==6.0.4
tqdm==4.46.1
typing-extensions==3.7.4.3
urllib3==1.25.10
yarl==1.5.1
